*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#top{
    background-color: rgb(224, 224, 134);
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
span{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.main{
    display: flex;
}
aside{
    width: 15%;
    background-color: rgb(224, 224, 212);
    height: 100vh;
    font-size: 20px;
}
aside div{
    margin-top: 10px;
    /* margin-left: 9px; */
    background-color: beige;
    padding: 7px;

}
main{
    width: 85%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
h1{
    font-size: 3rem;
}
#detail{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.input{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
input[type=text]{
    padding: 9px;
    width: 20%;
}
button{
    font-size: 15px;
    padding: 7px;
    background-color: black;
    color: white;
    
}
button:hover{
    cursor: pointer;
    background-color: beige;
    color: black;
}
.display{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
footer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
img{
    width: 300px;
    height: 230px;
}